
body{
    
    background-image: url("https://fsmedia.imgix.net/7c/64/de/56/fb79/497e/b8ca/d146bcdd00ab/space-genetics-is-essential-making-life-in-space-work.jpeg");
    width: 100%;
    height:1500px; 
       /* height: 100%; */
}


.container{ 
  border-bottom: solid;
    border-bottom-color:rgb(116, 116, 116);
    color: whitesmoke;
    margin-top: 25px;
}


h1{
color: tan;
margin-top: -10px;
margin-left: 10%;
}

a:hover{
    color: steelblue;
}
    
.media{
    color: black;
    margin-right: 53%;
    text-align: justify;
    background: wheat;
    opacity: 0.8;
    margin: 0 auto;
    width: 50%;
    padding: 20px;
}
.mee{
    border: none;
}
.align-self-start{
    height: 35%;
    width: 40%;
    /*hieght was 35%  */
}

.img1{
    height: 75px;
    width: 75px;
}

form{
    color: whitesmoke;
    margin-right: 60%;
    text-align: justify;
    margin-left: 3.5%;
    margin-top: 30%;
}
h5 {
    color: tan;
    font-size: 30px;
   
}
.pic0{
  border: none; 
  margin-top: 10%;
  background: wheat;
    opacity: 0.8;
    /* margin: 0 auto;  */
     width: 100%;  
   
}
.one{
    text-align: center;
}
.pic{
    height: 250px;
    width: 250px;
    margin: 20px;
}
@media screen and (max-width: 650px){
    .media{
        width: 100%;
        
    }
}
@media screen and (max-width: 575px){


.one{
     text-align: center;

}


}